<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST IT</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">

    <style>    
        .custom-file-input {
            display: inline-block;
            padding: 5px 12px;
            margin: 2px;
            cursor: pointer;
            height: auto;
            color: #888;
            border: none;
            border-radius: 50%;
            transition: background-color 0.3s;
        }

        .custom-file-input:hover {
            background-color: #bbb;
            color: #eee;
        }

        form {
            overflow: hidden;
            height: 55px;
            border-radius: var(--border-radius);
            transition: height 1s;
            padding: 0;
            background: white;
            margin-top: 1rem;
        }

        .post-img-input {
            display: block;
            background: white;
            position: relative;
            top: 5px;
            padding-left: 20px;
        }

        #uploaded-img {
            max-height: 330px;
            max-width: 500px;
            width: auto;
            padding: 10px;
            border-radius: 10%;
        }
    </style>

</head>
<body>
    <nav>
        <div class="container">
            <h2 class="logo">
                post_it
            </h2>
            <div class="search-box">
                 <i class="uil uil-search">
                 </i><input type="text" placeholder="search in this field">
            </div>
                 <div class="create">
                    <label class=" btn btn-primary" for="create-posts">create</label>
                    <div class="profile-pictures">
                        <a href="./user/login">
                        <img src="images/profile-1.jpg" alt="">
                        </a>
                    </div>
                 
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="left">
                <a class="profile">
                    <div class="profile-pictures">
                        <img src="images/profile-1.jpg">
                    </div>
                    <div class="handle">
                        <h4>rahul goud</h4>
                        <p class="text-muted">
                            @rahul
                        </p>
                    </div>
                </a>
                <div class="sidebar">
                    <a class="menu-item active">
                        <span><i class="uil uil-home"></i><h4>HOME</h4></span>
                    </a>
                    <a class="menu-item">
                        <span><i class="uil uil-compass"></i><h4>explorer</h4></span>
                    </a>
                    <a class="menu-item"  id="notifications">
                        <span><i class="uil uil-bell"><small class="notification-count">3</small></i><h4>Notifications</h4></span>
                        <div class="notification-popup">
                            <div>
                            <div class="profile-pictures">
                                <img src="images/profile-2.jpg" alt=""></div>
                               <div class="notification-body">
                                <b>abdus samad</b><small class="text-muted">1hr ago</small>
                               </div>
                            </div>
                              <div>
                               <div class="profile-pictures">
                                <img src="images/profile-3.jpg" alt=""></div>
                               <div class="notification-body">
                                <b>vishwas</b>
                                <small class="text-muted">1hr ago</small>
                               </div> 
                            </div>
                            <div>
                               <div class="profile-pictures">
                                <img src="images/profile-4.jpg" alt=""></div>
                               <div class="notification-body">
                                <b>risheeth</b>
                                <small class="text-muted">1hr ago</small>
                               </div> 
                            </div>
                            <div>
                               <div class="profile-pictures">
                                <img src="images/profile-5.jpg" alt=""></div>
                               <div class="notification-body">
                                <b>heheeh</b>
                                <small class="text-muted">1hr ago</small>
                                </div>
                            </div>
                        </div> 
                    </a>
                    <a class="menu-item" id="theme">
                        <span><i class="uil uil-palette"></i><h4>THEME</h4></span>
                    </a>
                    <a class="menu-item" id="messages-notifications">
                        <span><i class="uil uil-envelope"><small class="notification-count"></small></i><h4>messages</h4></span>
                    </a>
                    <a class="menu-item">
                        <span><i class="uil uil-setting"></i><h4>SETTINGS</h4></span>
                    </a>
                </div>
                  <a href='/user/login'><label for="create-post" class="btn btn-primary">Logout</label></a>
            </div>
            <div class="middle">
                <div class="stories">
                    <div class="story" style="background-image: url('images/story-1.jpg');">
                        <div class="profile-pictures">
                            <img src="images/profile-7.jpg" alt="">
                        </div>
                        <p class="name">Your Story</p>
                    </div>
                    <div class="story" style="background-image: url('images/story-3.jpg');">
                        <div class="profile-pictures">
                            <img src="images/profile-8.jpg" alt="">
                        </div>
                        <p class="name">Story1</p>
                    </div>
                    <div class="story" style="background-image: url('images/story-4.jpg');">
                        <div class="profile-pictures">
                            <img src="images/profile-9.jpg" alt="">
                        </div>
                        <p class="name">Story2</p>
                    </div>
                    <div class="story" style="background-image: url('images/story-5.jpg');">
                        <div class="profile-pictures">
                            <img src="images/profile-10.jpg" alt="">
                        </div>
                        <p class="name">Story3</p>
                    </div>
                    <div class="story" style="background-image: url('images/story-2.jpg');">
                        <div class="profile-pictures">
                            <img src="images/profile-11.jpg">
                        </div>
                        <p class="name">Story4</p>
                    </div>
                </div>
                <form action="/post/new" id="post-form" method="post" enctype="multipart/form-data">
                <div class="create-post">
                    <div class="profile-pictures">
                        <img src="images/profile-1.jpg" >
                    </div>
                    <input type="text" name="postText" placeholder="Whats on your mind">
                    <label class="custom-file-input" onclick="addpic()">+</label>
                    <input type="submit" name="postImg" class="btn btn-primary" value="post">
                    </div>
                    <input type="file" class="post-img-input" name="postImg" accept="image/*" required onchange="addedpic()">
                    <img src="" style="display:none;" id="uploaded-img">
                </form>
                <div class="post-test">
                    <ul>
                        <% posts.forEach(post => { %>
                            <div  style="border: 2px solid black;">
                                <li><%= post.postText %></li>
                                <img src="<%= post.postImg %>">
                            </div>
                        <% }); %>
                    </ul>
                </div>
                <div class="feeds">
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-pictures">
                                    <img src="images/profile-13.jpg" alt="">
                                </div>
                                <div class="ingo">
                                    <h4>Rahul</h4>
                                    <small>2min ago</small>
                                </div>
                            </div>
                            <span class="edit">
                                <i class="uil uil-ellipsis-h"></i>
                            </span>
                        </div>
                        <div class="photo">
                            <img src="images/feed-1.jpg" alt="">
                        </div>
                        <div class="action-button">
                            <div class="interactions-buttons">
                                <span><i class="uil uil-heart"></i></span>
                                <span><i class="uil uil-comment-dots"></i></span>
                                <span><i class="uil uil-share-alt"></i></span>
                            </div>
                            <div class="bookmarks">
                                <span><i class="uil uil-bookmark-full"></i></span>
                            </div>
                        </div>
                        <div class="liked-by">
                            
                            <span><img src="images/profile-12.jpg" alt=""></span>
                            <span><img src="images/profile-2.jpg" alt=""></span>
                            <span><img src="images/profile-13.jpg" alt=""></span>
                            <p>liked by others</p>
                        </div>
                        <div class="caption">
                            <p><b>user1</b>this is the post</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="friend-requests"><h3>request</h3>
                <div class="request">
                    <div class="info">
                        <div class="profile-pictures">
                            <img src="images/profile-13.jpg" alt="">
                        </div>
                    </div>
                    <div class="action">
                        <button class="btn btn-primary">
                            Accept
                        </button>
                        <button class="btn">
                            Decline
                        </button>
                    </div>
                </div></div>
            </div>
        </div>
    </main>
    <div class="customize-theme">
        <div class="card">
            <h2>Customize your view</h2>
            <p>manage your font size,color, and background.</p>
            <div class="font-size">
                <h4>FOnt-size</h4>
                <div><h6>Aa</h6>
                <div class="choose-size">
                    <span class="font-size-1"></span>
                    <span class="font-size-2"></span>
                    <span class="font-size-3 active"></span>
                    <span class="font-size-4"></span>
                    <span class="font-size-5"></span>
                </div>
            <h3>Aa</h3></div>
            </div>
            <div class="color"><h4>Color</h4>
            <div class="choose-color">
                <span class="color-1 active"></span>
                <span class="color-2"></span>
                <span class="color-3"></span>
                <span class="color-4"></span>
                <span class="color-5"></span>
            </div></div>
            <div class="background"><h4>background</h4>
            <div class="choose-bg">
                <div class="bg1">
                <span></span>
                <h5 for="bg1">Light</h5>
            </div>
            <div class="bg2">
                <span></span>
                <h5 for="bg2">Dim</h5>
            </div>
            <div class="bg3">
                <span></span>
                <h5 for="bg-3">Lights Out</h5>
            </div>
        </div>
    </div>
        </div>
    </div>

    <script type="text/javascript">
        const menuItems = document.querySelectorAll('.menu-item');
        const theme = document.querySelector('#theme');
        const themeModal = document.querySelector('.customize-theme');
        const fontSizes = document.querySelectorAll('.choose-size span');
        const root = document.querySelector(':root');
        const colorpalette = document.querySelectorAll('.choose-color span');
        const Bg1 = document.querySelector('.bg1');
        const Bg2 = document.querySelector('.bg2');
        const Bg3 = document.querySelector('.bg3');
        const createform = document.querySelector('.create-post');
        const picbtn = document.querySelector('.custom-file-input');
        const postimgsel = document.querySelector('.post-img-input');
        const postform = document.getElementById("post-form");
        const postshowimg = document.getElementById("uploaded-img");

        const changeActiveitem = () => {
            menuItems.forEach(item => {
                item.classList.remove('active');
            });
        };

        menuItems.forEach(item => {
            item.addEventListener('click', () => {
                changeActiveitem();
                item.classList.add('active');
                if (item.id != 'notifications') {
                    document.querySelector('.notification-popup').style.display = 'none';
                } else {
                    const notificationPopup = document.querySelector('.notification-popup');
                    notificationPopup.style.display = 'block';
                    const notificationCount = document.querySelector('#notifications .notification-count');
                    notificationCount.style.display = 'none';
                }
            });
        });
        const openThemeModal = () => {
            themeModal.style.display = 'grid';
        }
        const closeThemeModal = (e) => {
            if (e.target.classList.contains('customize-theme')) {
                themeModal.style.display = 'none';
            }
        }
        themeModal.addEventListener('click', closeThemeModal);
        theme.addEventListener('click', openThemeModal);
        const removeSizeSelector = () => {
            fontSizes.forEach(size => {
                size.classList.remove('active');
            })
        }

        fontSizes.forEach(size => {

            size.addEventListener('click', () => {
                removeSizeSelector();
                let fontSize;
                size.classList.toggle('active');

                if (size.classList.contains('font-size-1')) {
                    fontSize = '10px';
                    root.style.setProperty('--sticky-top-left', '5.4rem');
                    root.style.setProperty('--sticky-top-right', '5.4rem');
                }
                else if (size.classList.contains('font-size-2')) {
                    fontSize = '13px';
                    root.style.setProperty('--sticky-top-left', '5.4rem');
                    root.style.setProperty('--sticky-top-right', '-7rem');
                }
                else if (size.classList.contains('font-size-3')) {
                    fontSize = '16px';
                    root.style.setProperty('--sticky-top-left', '-2rem');
                    root.style.setProperty('--sticky-top-right', '-17rem');
                }
                else if (size.classList.contains('font-size-4')) {
                    fontSize = '19px';
                    root.style.setProperty('--sticky-top-left', '-5rem');
                    root.style.setProperty('--sticky-top-right', '-25rem');
                }
                else if (size.classList.contains('font-size-5')) {
                    fontSize = '22px';
                    root.style.setProperty('--sticky-top-left', '-12rem');
                    root.style.setProperty('--sticky-top-right', '-35rem');
                }
                document.querySelector('html').style.fontSize = fontSize;
            })

        })
        colorpalette.forEach(color => {
            color.addEventListener('click', () => {
                let primaryHue;
                if (color.classList.contains('color-1')) {
                    primaryHue = 252;
                }
                else if (color.classList.contains('color-2')) {
                    primaryHue = 52;
                }
                else if (color.classList.contains('color-3')) {
                    primaryHue = 352;
                }
                else if (color.classList.contains('color-4')) {
                    primaryHue = 152;
                }
                else if (color.classList.contains('color-5')) {
                    primaryHue = 202;
                }
                root.style.setProperty('--primary-color-hue', primaryHue);
            })
        })
        let lightColorLightness;
        let whiteColorLightness;
        let darkColorLightness;
        const changeBG = () => {
            root.style.setProperty('--light-color-lightness', lightColorLightness);
            root.style.setProperty('--white-color-lightness', whiteColorLightness);
            root.style.setProperty('--dark-color-lightness', darkColorLightness);
        }
        Bg1.addEventListener('click', () => {

            Bg1.classList.add('active');
            Bg2.classList.remove('active');
            Bg3.classList.remove('active');
            window.location.reload();
        });
        Bg2.addEventListener('click', () => {
            darkColorLightness = '95%';
            whiteColorLightness = '20%';
            lightColorLightness = '15%'; 
            Bg2.classList.add('active');
            Bg1.classList.remove('active');
            Bg3.classList.remove('active');
            changeBG();
        });
        Bg3.addEventListener('click', () => {
            darkColorLightness = '95%';
            whiteColorLightness = '10%';
            lightColorLightness = '0%'; 
            Bg3.classList.add('active');
            Bg1.classList.remove('active');
            Bg2.classList.remove('active');
            changeBG();
        });

        function addpic() {
            if (window.getComputedStyle(postform).height === "55px") {
                postform.style.height = "90px";
                picbtn.textContent = "-";
            }
            else {
                postform.style.height = "55px";
                picbtn.textContent = "+";
            }
        }

        function addedpic() {
            const file = postimgsel.files[0];
            if (file) {
                postform.style.height = "400px";
                const reader = new FileReader();
                reader.onload = function (e) {
                    postshowimg.src = e.target.result;
                    postshowimg.style.display = "block";
                };
                reader.readAsDataURL(file);
            } else {
                postform.style.height = "90px";
            }
        }
    </script>
</body>
</html>